<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="firstIdealCommonService" factory-bean="remoteFactory" factory-method="getAccessor">
		<property name="serviceUrl" value="${remote.service.address}/idealCommonService"></property>
		<property name="serviceInterface" value="com.ideal.common.service.interf.IFirstIdealCommonService" />
	</bean>

</beans>